* {
    box-sizing: border-box;
    /*overflow: hidden;*/
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;

}

.col-12 {
    width: 100%;

}

[class*="col-"] {
    /*Esses atributos servem para ajudar a ver onde está as colunas na pagina*/
    float: left;
    padding: 5px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    height: 100%;
}


.menu-navegacao a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;

}

.menu-navegacao a:hover {
    text-decoration: underline;
    color: black;
}

.menu-navegacao ul {
    float: right;
}

.menu-navegacao {
    background-color: #ffffff;

}

.menu-navegacao a:active {
    text-decoration: underline;
}

div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.list-footer {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;

}

.list-footer1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
}

.redes-sociais li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    float: right;
    padding: 5px;
    margin-right: 10px;
}



/* Mecher apenas nessa area delimitada*/


.cardapio h2 {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}

.cardapio h1 {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
    color: whitesmoke;

}


.cardapio p {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}

.cardapio li {
    margin-top: 10px;
    margin-bottom: 45px;
    text-align: center;
    color: whitesmoke;
}

.cardapio {
    display: block;

}

.caixa-contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-contato p {
    padding: 10px;
    border: 2px solid grey;
    margin-top: 25px;
    margin-bottom: 25px;

}

.caixa-contato a {
    text-decoration: none;
    color: #ffffff;
}

.container-cardapio {
    background-color: #253551;
    margin: 0;
    margin-left: 0;
    margin-right: 0;

}




/* Mecher apenas na area delimitada*/